@font-face {
  font-family: "Ubuntu";
  font-weight: 400;
  src: url(../fonts/ubuntu.ttf);
}
@font-face {
  font-family: "Ubuntu";
  font-weight: 600;
  src: url(../fonts/ubuntubold.ttf);
}
@font-face {
  font-family: "Ubuntu";
  font-weight: 300;
  src: url(../fonts/ubuntulight.ttf);
}
@font-face {
  font-family: "Ubuntu";
  font-weight: 500;
  src: url(../fonts/ubuntumedium.ttf);
}
body {
  font-family: "Ubuntu", sans-serif;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  outline: none !important;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  user-select: none;
}

a,
a:hover {
  text-decoration: none;
  color: #000;
}

.header {
  position: relative;
  width: 100%;
  top: 15px;
  z-index: 999;
}

@media (max-width: 992px) {
  .header {
    position: relative;
  }
  .header .navbar-collapse {
    position: absolute;
    top: 50px;
  }
  .header ul {
    position: absolute;
    left: -50;
  }
  .header .nav-socials {
    position: relative;
    top: 180px;
    left: -15px;
  }
}
.navbar-toggler {
  position: absolute;
  right: 0;
  top: 10px;
}
.navbar .brandname {
  color: #fff !important;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
}
.navbar .nav-socials {
  width: 150px;
}
.navbar .nav-socials a:hover i {
  color: #f3c2b4;
  transition: all 0.3s ease;
}
.navbar .nav-socials a i {
  color: #fff;
  font-size: 22px;
  transition: all 0.3s ease;
}
.navbar .nav-item a {
  color: #eef0f5 !important;
  font-size: 16px;
  text-transform: capitalize;
  transition: all 0.5s ease;
}
.navbar .nav-item a:hover {
  color: #c4d2da !important;
  transition: all 0.5s ease;
}

@keyframes seaway {
  25% {
    transform: translateX(-15px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0px);
  }
}
.main {
  position: relative;
  top: -63px;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-position: center;
}
.main .wave {
  position: absolute;
  left: -15px;
  top: 40px;
  animation: seaway 4s linear infinite;
  background-image: url(../img/wave2.png);
  background-repeat: no-repeat;
  width: calc(100% + 30px);
  height: 100%;
  background-position: bottom;
}
.main h1 {
  color: #fdfdfd;
  font-weight: bold;
  font-size: 60px;
  margin-top: 280px;
  transition: all 0.5s ease;
}
.main p {
  color: #e7e1e1;
  font-size: 18px;
  margin: 50px 0;
  max-width: 400px;
}
.main-scroll {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 999;
  background-color: #fff;
  border: 0px;
  border-radius: 50%;
  color: #ff5459;
  bottom: 0px;
  transition: all 0.2s ease;
  text-align: center;
  left: -25px;
}
.main-scroll:hover {
  transition: all 0.2s ease;
  background-color: #ebe2d6;
}
.main-buttons a {
  color: #e9e3e3;
  font-weight: bold;
  background-color: #4466c9;
  transition: all 0.5s ease;
  width: 150px;
  height: 50px;
  margin-right: 16px;
  line-height: 2em;
}
.main-buttons a:hover {
  background-color: #fc6a42;
  color: #e9e3e3;
  transition: all 0.5s ease;
}
.main-phone {
  position: relative;
  left: 100px;
  top: 200px;
}
.main-circle {
  color: #fdfdfd;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 50%;
  text-align: center;
  user-select: none;
}
.main .sunny {
  width: 90px;
  height: 90px;
  background-color: #fc6a42;
  position: relative;
  top: -100px;
  left: -30px;
  line-height: 5.5em;
  animation: sunny 1.5s linear infinite;
}
.main .london {
  width: 90px;
  height: 90px;
  background-color: #4466c9;
  position: relative;
  top: -230px;
  left: 435px;
  line-height: 5.5em;
  animation: london 2s linear infinite;
}
.main .rio {
  color: #648cff;
  width: 55px;
  height: 55px;
  background-color: #fcec64;
  position: relative;
  top: 0px;
  left: 435px;
  line-height: 3.5em;
  animation: rio 1s linear infinite;
}
.main .degrice {
  color: #648cff;
  width: 55px;
  height: 55px;
  background-color: #fdfdfd;
  position: relative;
  top: -550px;
  left: 410px;
  line-height: 3.5em;
  animation: deg 1s linear infinite;
}
@keyframes sunny {
  25% {
    transform: translateY(-7px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes london {
  25% {
    transform: translateY(8px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes rio {
  25% {
    transform: translateY(-3px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes deg {
  25% {
    transform: translateY(3px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media (max-width: 992px) {
  .main {
    background-image: none;
    background-color: #648cff;
    top: -62px;
  }
  .main .top {
    margin-top: 320px;
  }
  .main h1 {
    margin-top: 150px;
  }
  .main-scroll {
    left: calc(100% / 2 - 25px);
  }
  .main-circle {
    display: none;
  }
  .main-buttons a {
    margin-top: 20px;
  }
  .main-phone {
    left: 0;
    margin-top: 100px;
    margin-bottom: 100px;
    top: 0;
    display: flex;
    justify-content: center;
  }
  .main-headline {
    text-align: center;
  }
  .main-headline p {
    margin: 50px auto;
  }
  .main-buttons a {
    margin-right: 0;
  }
}
.headline {
  text-align: center;
  margin: 120px 0;
}
.headline h2 {
  font-weight: bold;
  text-transform: uppercase;
  color: #648cff;
}
.headline p {
  margin-top: 20px;
  color: #8d8c8c;
}

.features-advantages_text {
  position: relative;
  top: -65px;
  left: 95px;
}
.features-advantages_text h5 {
  font-weight: bold;
}
.features-advantages_text p {
  color: #8d8c8c;
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 0;
  width: 260px;
  line-height: 2;
}

@media (max-width: 1200px) {
  .headline {
    margin-bottom: 80px;
  }

  .features-advantages_text {
    top: 0px;
    left: 0px;
  }
}
@media (max-width: 992px) {
  .widget-slider .slide {
    opacity: 0;
  }
  .widget-slider .active {
    opacity: 1;
    width: 262px !important;
    height: 457px !important;
    top: 50px !important;
  }
  .widget-slider-btn_left {
    left: -10px !important;
  }
  .widget-slider-btn_right {
    right: -10px !important;
  }
}
.widget-slider {
  display: flex;
  justify-content: space-evenly;
}
.widget-slider .slide {
  display: block;
  position: relative;
  width: 318px;
  height: 565px;
  -webkit-box-shadow: 1px 0px 48px -8px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 1px 0px 48px -8px rgba(0, 0, 0, 0.53);
  box-shadow: 1px 0px 48px -8px rgba(0, 0, 0, 0.53);
  text-align: center;
}
.widget-slider .slide img {
  width: 100%;
}
.widget-slider .active {
  position: absolute;
  top: -40px;
  z-index: 999;
  width: 375px;
  height: 654px;
  background-repeat: no-repeat;
  background-size: 100%;
  transition: all 0.5 ease;
}
.widget-slider .skew {
  animation: slides 0.3s ease-out;
}
.widget-slider .ske {
  animation: slide 0.3s ease-out;
}
.widget-slider button {
  background-color: transparent;
  border: none;
  position: absolute;
  font-size: 60px;
  color: #c3cfe5;
  font-weight: bold;
  top: 200px;
  transition: all 0.3s ease;
  outline: none;
}
.widget-slider button:hover {
  color: #9cacc9;
  transition: all 0.3s ease;
}
.widget-slider-btn_left {
  left: 0;
}
.widget-slider-btn_right {
  right: 0px;
}

@keyframes slides {
  25% {
    transform: translateX(50px);
  }
  50% {
    transform: translateX(100px);
  }
  75% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes slide {
  25% {
    transform: translateX(-50px);
  }
  50% {
    transform: translateX(-100px);
  }
  75% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0px);
  }
}
.screenshots-headline {
  margin-top: 200px;
}
.screenshots-cloudy {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 200px;
}
.screenshots-cloudy img {
  position: relative;
  z-index: 900;
}
.screenshots-cloudy p {
  position: absolute;
  color: #f4f4f7;
  transform: rotate(90deg);
  font-size: 230px;
  font-weight: 300;
}
.screenshots-cloudy .weath-cloud {
  left: 30px;
  top: 130px;
}
.screenshots-cloudy .weath-sun {
  left: 80px;
  top: 100px;
}
.screenshots-cloudy .weath-rain {
  left: 130px;
  top: 130px;
}
.screenshots-circle {
  position: absolute;
  color: #fdfdfd;
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
  user-select: none;
  z-index: 999;
  width: 90px;
  height: 90px;
}
.screenshots-circle_cloudy {
  font-size: 18px;
  line-height: 5.5rem;
  background-color: #fcec64;
  top: 170px;
  left: 315px;
  animation: london 2s linear infinite;
}
.screenshots-circle_sunny {
  background-color: #f2a14e;
}
.screenshots-circle_rainy {
  background-color: #b8faee;
  color: #7e8c91;
}
.screenshots-circle_deg {
  left: 10px;
  top: 380px;
  font-size: 28px;
  line-height: 5.5rem;
  background-color: #6ca3ff;
  animation: sunny 2s linear infinite;
}
.screenshots-circle_sundeg {
  background-color: #fc6a42;
}
.screenshots-circle_raindeg {
  background-color: #7693c8;
}
.screenshots-whenclouds {
  margin-top: 165px;
  position: relative;
}
.screenshots-whenclouds h5 {
  font-weight: bold;
  color: #648cff;
  text-transform: uppercase;
  font-size: 36px;
  margin-top: 40px;
}
.screenshots-whenclouds p {
  max-width: 510px;
  font-size: 24px;
  color: #353854;
  margin-top: 15px;
}
.screenshots-whenclouds_inform {
  display: flex;
}
.screenshots-whenclouds_inform-first, .screenshots-whenclouds_inform-second, .screenshots-whenclouds_inform-third {
  position: relative;
  font-size: 14px;
  width: 60px;
  height: 60px;
  line-height: 3.5rem;
  position: relative;
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
  box-shadow: 1px 0px 30px -8px rgba(173, 167, 167, 0.53);
  color: #cbd5e8;
  margin-top: 30px;
  background-color: #fff;
}
.screenshots-whenclouds_inform-first {
  z-index: 995;
}
.screenshots-whenclouds_inform-second {
  z-index: 994;
  left: -10px;
}
.screenshots-whenclouds_inform-third {
  z-index: 993;
  left: -20px;
}

@media (max-width: 1200px) {
  .screenshots-circle_cloudy {
    left: 285px;
  }
  .screenshots-circle_deg {
    left: -20px;
  }
  .screenshots-cloudy .weath-cloud {
    left: 0;
  }
  .screenshots-cloudy .weath-sun {
    left: 50px;
  }
  .screenshots-cloudy .weath-rain {
    left: 80px;
  }
  .screenshots-whenclouds h5 {
    font-size: 28px;
  }
  .screenshots-whenclouds p {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .screenshots-headline {
    margin-top: 50px;
  }
  .screenshots-circle_cloudy {
    left: 435px;
  }
  .screenshots-circle_deg {
    left: 140px;
  }
  .screenshots-cloudy {
    margin-top: 0;
    margin-bottom: 0;
  }
  .screenshots-cloudy .weath-cloud {
    left: 150px;
  }
  .screenshots-cloudy .weath-sun {
    left: 200px;
  }
  .screenshots-cloudy .weath-rain {
    left: 230px;
  }
  .screenshots-whenclouds {
    margin-top: 80px;
    text-align: center;
  }
  .screenshots-whenclouds p {
    margin: 30px auto;
  }
  .screenshots-whenclouds_inform {
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
  }
}
@media (max-width: 767px) {
  .screenshots-circle_cloudy {
    left: 345px;
  }
  .screenshots-circle_deg {
    left: 50px;
  }
  .screenshots-cloudy {
    margin-top: 0;
    margin-bottom: 0;
  }
  .screenshots-cloudy .weath-cloud {
    left: 60px;
  }
  .screenshots-cloudy .weath-sun {
    left: 100px;
  }
  .screenshots-cloudy .weath-rain {
    left: 140px;
  }
  .screenshots-cloudy_inform {
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
  }
  .screenshots-whenclouds {
    margin-top: 80px;
    text-align: center;
  }
  .screenshots-whenclouds p {
    margin: 30px auto;
  }
  .screenshots-whenclouds_inform {
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
  }
}
@media (max-width: 576px) {
  .screenshots-circle {
    display: none;
  }
  .screenshots-cloudy {
    margin-top: 0;
    margin-bottom: 0;
  }
  .screenshots-cloudy p {
    display: none;
  }
  .screenshots-whenclouds {
    margin-top: 80px;
    text-align: center;
  }
  .screenshots-whenclouds p {
    margin: 30px auto;
  }
  .screenshots-whenclouds_inform {
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
  }
}
.rewiews blockquote {
  font-family: "Ubuntu", sans-serif;
  font-size: 21px;
  color: #353854;
  position: relative;
  margin-bottom: 150px;
}
.rewiews blockquote p {
  word-wrap: break-word;
}
.rewiews blockquote footer {
  font-size: 16px;
  font-weight: 500;
}
.rewiews blockquote span {
  position: absolute;
  font-size: 140px;
  font-weight: 400;
  color: #648cff;
}
.rewiews blockquote span:first-child {
  top: -95px;
  left: -8px;
}
.rewiews blockquote span:last-child {
  top: -35px;
  right: 0;
}

@media (max-width: 992px) {
  .rewiews blockquote {
    max-width: 560px;
    margin: 50px 0 100px 0px;
  }
}
@media (max-width: 421px) {
  .rewiews blockquote {
    font-size: 18px;
  }
  .rewiews footer {
    font-size: 10px;
  }
}
.download-fluid {
  background-color: #648cff;
  max-height: 480px;
}
.download h3 {
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  margin-top: 115px;
  font-size: 35px;
}
.download p {
  color: #fff;
  margin-top: 30px;
  max-width: 365px;
  font-size: 18px;
  margin-bottom: 30px;
}
.download .download-links {
  margin-bottom: 110px;
}
.download .download-links a {
  margin-right: 8px;
}
.download-phones {
  position: relative;
}
.download-phones img {
  position: absolute;
}
.download-phones img:nth-child(1) {
  filter: blur(3px);
  top: 150px;
}
.download-phones img:nth-child(2) {
  filter: blur(3px);
  top: 150px;
  left: 400px;
}
.download-phones img:nth-child(3) {
  left: 210px;
  top: 75px;
}

@media (max-width: 1450px) {
  .download-phones img {
    max-width: 200px;
  }
  .download-phones img:nth-child(1) {
    top: 200px;
  }
  .download-phones img:nth-child(2) {
    top: 200px;
    left: 270px;
  }
  .download-phones img:nth-child(3) {
    left: 140px;
    top: 150px;
  }
}
@media (max-width: 991px) {
  .download-phones {
    display: none;
  }
  .download-fluid {
    margin-top: 50px;
  }
}
@media (max-width: 576px) {
  .download h3 {
    font-size: 24px;
  }
}
.footer {
  position: relative;
  z-index: 999;
}
.footer-fluid {
  background-color: #353854;
  height: 100%;
}
.footer-content {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.footer-content h4 {
  color: #648cff;
  text-transform: uppercase;
}
.footer-content h4 span {
  color: #fc6a42;
}
.footer-content ul {
  display: flex;
  justify-content: space-between;
}
.footer-content ul li {
  margin: 0 40px;
}
.footer-content ul li a {
  color: #adadc1;
  transition: all 0.5s ease;
}
.footer-content ul li a:hover {
  color: #cccdd4;
  transition: all 0.5s ease;
}
.footer-socials {
  width: 150px;
}
.footer-socials a i {
  color: #adadc1;
  font-size: 28px;
  transition: all 0.3s ease;
}
.footer-socials a:hover i {
  color: #cccdd4;
  transition: all 0.3s ease;
}
.footer-hr {
  margin: 100px auto 0;
  display: block;
  width: calc(100% - (100% * 0.1));
  height: 1px;
  background-color: #adadc1;
}
.footer-copyright {
  color: #4b4e6b;
  margin-top: 50px;
  margin-bottom: 80px;
}
.footer-btn {
  position: absolute;
  width: 50px;
  height: 35px;
  background-color: #434769;
  border: 0px;
  border-radius: 10px 10px 0 0;
  color: #b5b5c8;
  right: -200px;
  bottom: 0px;
  transition: all 0.2s ease;
  z-index: 999;
}
.footer-btn:hover {
  transition: all 0.2s ease;
  background-color: #5f6386;
}

@media (max-width: 1600px) {
  .footer-btn {
    right: -15px;
  }
}
@media (max-width: 991px) {
  .footer-content {
    margin-top: 50px;
    height: 100%;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
  }
  .footer ul li {
    margin: 25px 40px;
  }
}
@media (max-width: 576px) {
  .footer ul li {
    margin: 25px 10px;
  }
  .footer-copyright {
    text-align: center;
  }
  .footer-btn {
    right: 0;
  }
}

/*# sourceMappingURL=style.css.map */
