
@font-face {
  font-family: 'Ubuntu';
  font-weight: 400;
  src: url(../fonts/ubuntu.ttf);
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: 600;
  src: url(../fonts/ubuntubold.ttf);
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: 300;
  src: url(../fonts/ubuntulight.ttf);
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: 500;
  src: url(../fonts/ubuntumedium.ttf);
}


body {
  font-family: 'Ubuntu', sans-serif;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
button {
  outline: none !important;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

a,
a:hover {
  text-decoration: none;
  color: #000;
}

// <!-- header -->
.header {
  position: relative;
  width: 100%;
  top: 15px;
  z-index: 999;
}

@media (max-width: 992px) {
  .header {
    position: relative;

    .navbar-collapse {
      position: absolute;
      top: 50px;
    }

    ul {
      position: absolute;
      left: -50;
    }

    .nav-socials {
      position: relative;
      top: 180px;
      left: -15px;
    }
  }

}

.navbar {
  &-toggler {
    position: absolute;
    right: 0;
    top: 10px;
  }

  .brandname {
    color: #fff !important;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .nav-socials {
    width: 150px;

    a:hover i {
      color: #f3c2b4;
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
    }

    a i {
      color: #fff;
      font-size: 22px;
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
    }
  }

  .nav-item a {
    color: #eef0f5 !important;
    font-size: 16px;
    text-transform: capitalize;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;

    &:hover {
      color: #c4d2da !important;
      -webkit-transition: all .5s ease;
      -o-transition: all .5s ease;
      transition: all .5s ease;
    }
  }
}

// <!-- header -->

// <!-- MAIN -->

@keyframes seaway {
  25% {
    -webkit-transform: translateX(-15px);
        -ms-transform: translateX(-15px);
            transform: translateX(-15px);
  }

  50% {
    -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);
  }

  75% {
    -webkit-transform: translateX(15px);
        -ms-transform: translateX(15px);
            transform: translateX(15px);
  }

  100% {
    -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.main {
  position: relative;
  top: -63px;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-position: center;

  .wave {
    position: absolute;
    left: -15px;
    top: 40px;
    -webkit-animation: seaway 4s linear infinite;
            animation: seaway 4s linear infinite;
    background-image: url(../img/wave2.png);
    background-repeat: no-repeat;
    width: calc(100% + 30px);
    height: 100%;
    background-position: bottom;
  }

  h1 {
    color: #fdfdfd;
    font-weight: bold;
    font-size: 60px;
    margin-top: 280px;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }

  p {
    color: #e7e1e1;
    font-size: 18px;
    margin: 50px 0;
    max-width: 400px;
  }
  &-scroll {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 999;
    background-color: #fff;
    border: 0px;
    border-radius: 50%;
    color: #ff5459;
    bottom: 0px;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    text-align: center;
    left: -25px;
      &:hover {
        -webkit-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease;
        background-color: #ebe2d6;
      }
  }

  &-buttons a {
    color: #e9e3e3;
    font-weight: bold;
    background-color: #4466c9;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    width: 150px;
    height: 50px;
    margin-right: 16px;
    line-height: 2em;

    &:hover {
      background-color: #fc6a42;
      color: #e9e3e3;
      -webkit-transition: all .5s ease;
      -o-transition: all .5s ease;
      transition: all .5s ease;
    }
  }

  &-phone {
    position: relative;
    left: 100px;
    top: 200px;

  }

  &-circle {
    color: #fdfdfd;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 50%;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }

  .sunny {
    width: 90px;
    height: 90px;
    background-color: #fc6a42;
    position: relative;
    top: -100px;
    left: -30px;
    line-height: 5.5em;
    -webkit-animation: sunny 1.5s linear infinite;
            animation: sunny 1.5s linear infinite;
  }

  .london {
    width: 90px;
    height: 90px;
    background-color: #4466c9;
    position: relative;
    top: -230px;
    left: 435px;
    line-height: 5.5em;
    -webkit-animation: london 2s linear infinite;
            animation: london 2s linear infinite;
  }

  .rio {
    color: #648cff;
    width: 55px;
    height: 55px;
    background-color: #fcec64;
    position: relative;
    top: 0px;
    left: 435px;
    line-height: 3.5em;
    -webkit-animation: rio 1s linear infinite;
            animation: rio 1s linear infinite;
  }

  .degrice {
    color: #648cff;
    width: 55px;
    height: 55px;
    background-color: #fdfdfd;
    position: relative;
    top: -550px;
    left: 410px;
    line-height: 3.5em;
    -webkit-animation: deg 1s linear infinite;
            animation: deg 1s linear infinite;
  }

  @-webkit-keyframes sunny {
    25% {
      -webkit-transform: translateY(-7px);
              transform: translateY(-7px);
    }

    50% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }

    75% {
      -webkit-transform: translateY(7px);
              transform: translateY(7px);
    }

    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }

  @keyframes sunny {
    25% {
      -webkit-transform: translateY(-7px);
              transform: translateY(-7px);
    }

    50% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }

    75% {
      -webkit-transform: translateY(7px);
              transform: translateY(7px);
    }

    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }

  @-webkit-keyframes london {
    25% {
      -webkit-transform: translateY(8px);
              transform: translateY(8px);
    }

    50% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }

    75% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
    }

    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }

  @keyframes london {
    25% {
      -webkit-transform: translateY(8px);
              transform: translateY(8px);
    }

    50% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }

    75% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
    }

    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }

  @-webkit-keyframes rio {
    25% {
      -webkit-transform: translateY(-3px);
              transform: translateY(-3px);
    }

    50% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }

    75% {
      -webkit-transform: translateY(3px);
              transform: translateY(3px);
    }

    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }

  @keyframes rio {
    25% {
      -webkit-transform: translateY(-3px);
              transform: translateY(-3px);
    }

    50% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }

    75% {
      -webkit-transform: translateY(3px);
              transform: translateY(3px);
    }

    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }

  @-webkit-keyframes deg {
    25% {
      -webkit-transform: translateY(3px);
              transform: translateY(3px);
    }

    50% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }

    75% {
      -webkit-transform: translateY(-3px);
              transform: translateY(-3px);
    }

    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }

  @keyframes deg {
    25% {
      -webkit-transform: translateY(3px);
              transform: translateY(3px);
    }

    50% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }

    75% {
      -webkit-transform: translateY(-3px);
              transform: translateY(-3px);
    }

    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
}

@media (max-width: 992px) {
  .main {
    background-image: none;
    background-color: #648cff;
    top: -62px;

    .top {
      margin-top: 320px;
    }

    h1 {
      margin-top: 150px;
    }
    &-scroll {
      left: calc(100% / 2 - 25px);
    }

    &-circle {
      display: none;
    }

    &-buttons a {
      margin-top: 20px;
    }

    &-phone {
      left: 0;
      margin-top: 100px;
      margin-bottom: 100px;
      top: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }

    &-headline {
      text-align: center;

      p {
        margin: 50px auto;
      }
    }

    &-buttons a {
      margin-right: 0;
    }
  }
}

// // <!-- MAIN -->

// <!-- FEATURES -->

.headline {
  text-align: center;
  margin: 120px 0;

  h2 {
    font-weight: bold;
    text-transform: uppercase;
    color: #648cff;
  }

  p {
    margin-top: 20px;
    color: #8d8c8c;
  }
}

.features-advantages {
  &_text {
    position: relative;
    top: -65px;
    left: 95px;

    h5 {
      font-weight: bold;
    }

    p {
      color: #8d8c8c;
      font-size: 14px;
      margin-top: 15px;
      margin-bottom: 0;
      width: 260px;
      line-height: 2;
    }
  }
}

@media (max-width: 1200px) {
  .headline {
    margin-bottom: 80px;
  }

  .features-advantages {
    &_text {
      top: 0px;
      left: 0px;
    }
  }
}

// <!-- FEATURES END-->

// <!-- WIDGETS -->

.widget-slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;

  .slide {
    display: block;
    position: relative;
    width: 318px;
    height: 565px;
    -webkit-box-shadow: 1px 0px 48px -8px rgba(0, 0, 0, 0.53);
    box-shadow: 1px 0px 48px -8px rgba(0, 0, 0, 0.53);
    text-align: center;

    img {
      width: 100%;
    }
  }

  .active {
    position: absolute;
    top: -40px;
    z-index: 999;
    width: 375px;
    height: 654px;
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-transition: all .5 ease;
    -o-transition: all .5 ease;
    transition: all .5 ease;
  }

  .skew {
    -webkit-animation: slides .3s ease-out;
            animation: slides .3s ease-out;
  }

  .ske {
    -webkit-animation: slide .3s ease-out;
            animation: slide .3s ease-out;
  }

  button {
    background-color: transparent;
    border: none;
    position: absolute;
    font-size: 60px;
    color: #c3cfe5;
    font-weight: bold;
    top: 200px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: none;

    &:hover {
      color: #9cacc9;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
  }

  &-btn_left {
    left: 0;
  }

  &-btn_right {
    right: 0;
  }
}

@media (max-width: 992px) {
  .widget-slider {
    .slide {
      opacity: 0;
    }

    .active {
      opacity: 1;
      width: 262px ;
      height: 457px ;
      top: 50px ;
    }
    &-btn_left {
      left: -10px;
    }
  
    &-btn_right {
      right: -10px;
    }
  }
}

@-webkit-keyframes slides {
  25% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }

  50% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }

  75% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }

  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes slides {
  25% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }

  50% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }

  75% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }

  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes slide {
  25% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }

  50% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }

  75% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }

  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes slide {
  25% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }

  50% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }

  75% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }

  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

// <!-- WIDGETS END-->

// <!-- SCREENSHOTS-->

.screenshots {
  &-headline {
    margin-top: 200px;
  }

  &-cloudy {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 70px;
    margin-bottom: 200px;

    img {
      position: relative;
      z-index: 900;
    }

    p {
      position: absolute;
      color: #f4f4f7;
      -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
              transform: rotate(90deg);
      font-size: 230px;
      font-weight: 300;
    }

    .weath-cloud {
      left: 30px;
      top: 130px;
    }

    .weath-sun {
      left: 80px;
      top: 100px;
    }

    .weath-rain {
      left: 130px;
      top: 130px;
    }
  }

  &-circle {
    position: absolute;
    color: #fdfdfd;
    font-weight: bold;
    border-radius: 50%;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    z-index: 999;
    width: 90px;
    height: 90px;

    &_cloudy {
      font-size: 18px;
      line-height: 5.5rem;
      background-color: #fcec64;
      top: 170px;
      left: 315px;
      -webkit-animation: london 2s linear infinite;
              animation: london 2s linear infinite;
    }

    &_sunny {
      background-color: #f2a14e;
    }

    &_rainy {
      background-color: #b8faee;
      color: #7e8c91;
    }

    &_deg {
      left: 10px;
      top: 380px;
      font-size: 28px;
      line-height: 5.5rem;
      background-color: #6ca3ff;
      -webkit-animation: sunny 2s linear infinite;
              animation: sunny 2s linear infinite;
    }

    &_sundeg {
      background-color: #fc6a42;

    }

    &_raindeg {
      background-color: #7693c8;

    }
  }

  &-whenclouds {
    margin-top: 165px;
    position: relative;

    h5 {
      font-weight: bold;
      color: #648cff;
      text-transform: uppercase;
      font-size: 36px;
      margin-top: 40px;
    }

    p {
      max-width: 510px;
      font-size: 24px;
      color: #353854;
      margin-top: 15px;
    }

    &_inform {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;

      &-first,
      &-second,
      &-third {
        position: relative;
        font-size: 14px;
        width: 60px;
        height: 60px;
        line-height: 3.5rem;
        position: relative;
        font-weight: bold;
        border-radius: 50%;
        text-align: center;
        -webkit-box-shadow: 1px 0px 30px -8px rgba(173, 167, 167, 0.53);
                box-shadow: 1px 0px 30px -8px rgba(173, 167, 167, 0.53);
        color: #cbd5e8;
        margin-top: 30px;
        background-color: #fff;
      }

      &-first {
        z-index: 995;
      }

      &-second {
        z-index: 994;
        left: -10px;
      }

      &-third {
        z-index: 993;
        left: -20px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .screenshots {
    &-circle {
      &_cloudy {
        left: 285px;
      }

      &_deg {
        left: -20px;
      }
    }

    &-cloudy {
      .weath-cloud {
        left: 0;
      }

      .weath-sun {
        left: 50px;
      }

      .weath-rain {
        left: 80px;
      }
    }

    &-whenclouds {
      h5 {
        font-size: 28px;
      }

      p {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 992px) {
  .screenshots {
    &-headline {
      margin-top: 50px;
    }
    &-circle {
      &_cloudy {
        left: 435px;
      }

      &_deg {
        left: 140px;
      }
    }

    &-cloudy {
      margin-top: 0;
      margin-bottom: 0;

      .weath-cloud {
        left: 150px;
      }

      .weath-sun {
        left: 200px;
      }

      .weath-rain {
        left: 230px;
      }
    }

    &-whenclouds {
      margin-top: 80px;
      text-align: center;

      p {
        margin: 30px auto;
      }

      &_inform {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-bottom: 150px;
      }
    }
  }
}

@media (max-width: 767px) {
  .screenshots {
    &-circle {
      &_cloudy {
        left: 345px;
      }

      &_deg {
        left: 50px;
      }
    }

    &-cloudy {
      margin-top: 0;
      margin-bottom: 0;

      .weath-cloud {
        left: 60px;
      }

      .weath-sun {
        left: 100px;
      }

      .weath-rain {
        left: 140px;
      }

      &_inform {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-bottom: 150px;
      }
    }

    &-whenclouds {
      margin-top: 80px;
      text-align: center;

      p {
        margin: 30px auto;
      }

      &_inform {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-bottom: 150px;
      }
    }
  }
}

@media (max-width: 576px) {
  .screenshots {
    &-circle {
      display: none;
    }

    &-cloudy {
      margin-top: 0;
      margin-bottom: 0;

      p {
        display: none;
      }
    }

    &-whenclouds {
      margin-top: 80px;
      text-align: center;

      p {
        margin: 30px auto;
      }

      &_inform {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-bottom: 150px;
      }
    }
  }
}

// <!-- SCREENSHOTS END-->

// <!-- REWIEWS-->

.rewiews {
  blockquote {
    font-family: 'Ubuntu', sans-serif;
    font-size: 21px;
    color: #353854;
    position: relative;
    margin-bottom: 150px;

    p {
      word-wrap: break-word;
    }

    footer {
      font-size: 16px;
      font-weight: 500;
    }

    span {
      position: absolute;
      font-size: 140px;
      font-weight: 400;
      color: #648cff;
    }

    span:first-child {
      top: -95px;
      left: -8px;
    }

    span:last-child {
      top: -35px;
      right: 0;
    }
  }
}

@media (max-width: 992px) {
  .rewiews {
    blockquote {
      max-width: 560px;
      margin: 50px 0 100px 0px;
    }
  }
}

@media (max-width: 421px) {
  .rewiews {
    blockquote {
      font-size: 18px
    }

    footer {
      font-size: 10px;
    }
  }
}

// <!-- REWIEWS END-->


// <!-- DOWNLOAD -->

.download {
  &-fluid {
    background-color: #648cff;
    max-height: 480px;
  }

  h3 {
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    margin-top: 115px;
    font-size: 35px;
  }

  p {
    color: #fff;
    margin-top: 30px;
    max-width: 365px;
    font-size: 18px;
    margin-bottom: 30px;
  }

  .download-links {
    margin-bottom: 110px;

    a {
      margin-right: 8px;
    }
  }

  &-phones {
    position: relative;

    img {
      position: absolute;
    }

    img:nth-child(1) {
      -webkit-filter: blur(3px);
              filter: blur(3px);
      top: 150px;
    }

    img:nth-child(2) {
      -webkit-filter: blur(3px);
              filter: blur(3px);
      top: 150px;
      left: 400px;
    }

    img:nth-child(3) {
      left: 210px;
      top: 75px;
    }
  }

}

@media (max-width: 1450px) {
  .download {
    &-phones {
      img {
        max-width: 200px;
      }

      img:nth-child(1) {
        top: 200px;
      }

      img:nth-child(2) {
        top: 200px;
        left: 270px;
      }

      img:nth-child(3) {
        left: 140px;
        top: 150px;
      }
    }
  }
}

@media (max-width: 991px) {
  .download {
    &-phones {
      display: none;
    }

    &-fluid {
      margin-top: 50px;
    }
  }
}

@media (max-width: 576px) {
  .download {
    h3 {
      margin-top: 50px;
      font-size: 24px;
    }
    .download-links {
      margin-bottom: 50px;
    }
  }
  
}

// <!-- DOWNLOAD END-->

// <!-- FOOTER-->

.footer {
  position: relative;
  z-index: 999;

  &-fluid {
    background-color: #353854;
    height: 100%;
  }

  &-content {
    margin-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    h4 {
      color: #648cff;
      text-transform: uppercase;

      span {
        color: #fc6a42;
      }
    }

    ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;

      li {
        margin: 0 40px;

        a {
          color: #adadc1;
          -webkit-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;

          &:hover {
            color: #cccdd4;
            -webkit-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
          }
        }
      }
    }
  }

  &-socials {
    width: 150px;

    a i {
      color: #adadc1;
      font-size: 28px;
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
    }

    a:hover i {
      color: #cccdd4;
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
    }
  }

  &-hr {
    margin: 100px auto 0;
    display: block;
    width: calc(100% - (100% * 0.1));
    height: 1px;
    background-color: #adadc1;
  }

  &-copyright {
    color: #4b4e6b;
    margin-top: 50px;
    margin-bottom: 80px;
  }
  &-btn {
    position: absolute;
    width: 50px;
    height: 35px;
    background-color: #434769;
    border: 0px;
    border-radius: 10px 10px 0 0;
    color: #b5b5c8;
    right: -200px;
    bottom: 0px;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    z-index: 999;
      &:hover {
        -webkit-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease;
        background-color: #5f6386;
      }
  }
}

@media (max-width: 1600px) {
  .footer {
    &-btn {
      right: -15px;
    }
  }
}
@media (max-width: 991px) {
  .footer {
    &-content {
      margin-top: 50px;
      height: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      text-align: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
    }
    ul li {
      margin: 25px 40px;
    }
  }
}

@media (max-width: 576px) {
  .footer {
    ul li {
      margin: 25px 10px;
    }
    &-copyright {
      text-align: center;
    }
    &-btn {
      right: 0;
    }
  }
}
